.banner1 {
  height: 100px;
  background-color: rgb(237, 239, 238);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.banner1 .banner-container {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner1 .banner-container .img {
  display: flex;
  justify-content: end;
  align-items: center;
}
.banner1 .banner-container .text {
  width: 113px;
  height: 28px;
  background-color: #029a49;
  border-radius: 16px;
  text-align: center;
  color: white;
  font-size: 0.9;
  font-weight: 700;
}
.banner1 .banner-container1 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner1 .banner-container1 .img {
  display: flex;
}

.banner1 .banner-container1 .img .discount {
  background-color: #d32d2d;
  color: white;
  border-radius: 35%;
  font-size: 0.9rem;
  font-weight: 700;
  height: 20px;
  width: 30px;
  display: flex;
  align-self: flex-end;
  transform: translateX(-10px);
}

.banner1 .banner-container1 img {
  width: 58px;
  height: 58px;
  border: 1px solid white;
  border-radius: 50%;
}
.banner1 .banner-container1 .text {
  width: 165px;
  height: 50px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  padding: 16px 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
  color: #029a49;
  transform: translateX(-20px);
}
.banner1 .banner-container1 .text svg {
  transform: translateY(-1px);
}
