.slider1 {
  width: 100%;
  height: 160px;
  padding-top: 24px;
  transform: translateY(-16px);
}
.slider1 .swiper {
  width: 100%;
  height: 100%;
}

.slider1 .swiper .swiper-wrapper .swiper-slide .img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #93508d;
}
.slider1 .swiper .swiper-wrapper .swiper-slide .img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.slider1 .swiper .swiper-wrapper .swiper-slide .subtitle {
  margin-top: 8px;
  font-size: 0.7rem;
  text-align: center;
  color: #62636b;
  font-weight: 400;
}
.slider1 .swiper .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
}
.slider1 .swiper .swiper-button-next::after {
  color: #959596;
  font-size: 12px;
  font-weight: bold;
}
.slider1 .swiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
}
.slider1 .swiper .swiper-button-prev::after {
  color: #959596;
  font-size: 12px;
  font-weight: bold;
}
